#storefrontPage #productContainer {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

#storefrontPage .productLink {
    text-decoration: none;
    color: black;
}

#storefrontPage #productContainer .card {
    width: 300px;
    box-shadow: none;
}

#storefrontPage #productContainer .card .card-image {
    height: 300px;
}

#storefrontPage #productContainer .card .card-content > div {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}